
<!DOCTYPE html>

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заголовок окна браузера</title>
    <meta name="keywords" content="Ключевые слова" />
    <meta name="description" content="Описание страницы" />

    <link rel="stylesheet" type="text/css" href="css/common-styles.css" />
    <link rel="stylesheet" type="text/css" media="all" href="css/styles.css"/>


    <link rel="icon" href="ico/favicon.png">


    <script src="js/vendor/modernizr.min.js"></script>

</head>
<body >


    <div class="sticky-wrap">
        <header>
    <div class="header-main">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <a class="logo" href="/">
                        <img src="img/logo1.png">
                    </a>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="row">

                        <div class="col-lg-5 col-xs-12 hidden-print">
                            <div class="input-group-search">
                                <input type="text" class="form-control" placeholder="Поиск...">
                                <button class="btn btn-link" type="button"><i class="fa fa-search"></i></button>
                            </div>
                              </div>

                            <div class="col-lg-7 col-xs-12 hidden-xs">

                                <ul class="btn-list-inline">
                                    Пользователь
                                </ul>


                    </div>
                </div>
               <? //форма для авторизации ?>
            </div>
        </div>
    </div>
</header>
        <nav>
            <div class="navbar navbar-intervolga">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-nav">
                            <span class="sr-only">Переключить навигацию</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">InterVolga.ru</a>
                    </div>
                    <div class="collapse navbar-collapse" id="top-nav">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Главная страница</a></li>
                            <li><a href="#">Каталог книг</a></li>
                            <li><a href="#">Статус книг</a></li>
                            <li> <a href="#">Отзывы</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>



<br/>

   <div class="contain">
        <div id="w">
          <h1 class="hhh">Самые популярные книги</h1>



          <div class="crsl-items" data-navigation="navbtns">
            <div class="crsl-wrap">
              <div class="crsl-item">
                <div class="thumbnail1">
                  <img src="img/catalog/book1.jpg" alt="nyc subway">
                  <span class="postdate">Feb 16, 2014</span>
                </div>

                <h3><a href="#">Lorem Ipsum Dolor Sit</a></h3>

                <p>Suspendisse laoreet eu tortor vel dapibus. Etiam auctor nisl mattis, ornare nibh eu, lobortis leo. Sed congue mi eget velit dictum, id dictum massa tempus. Cras lobortis lectus neque. Fusce aliquet mauris ac bibendum pharetra.</p>

                <p class="readmore"><a href="#">Read More &raquo;</a></p>
              </div><!-- post #1 -->

              <div class="crsl-item">
                <div class="thumbnail1">
                  <img src="img/catalog/book2.jpg" alt="danny antonucci">
                  <span class="postdate">Feb 19, 2014</span>
                </div>

                <h3><a href="#">A Look Back over A.K.A Cartoon</a></h3>

                <p>Vestibulum in venenatis velit. Praesent commodo eget purus sed interdum. Curabitur faucibus purus ut erat fermentum posuere. Suspendisse blandit viverra sagittis. Nullam cursus scelerisque lorem ut ornare.</p>

                <p class="readmore"><a href="#">Read More &raquo;</a></p>
              </div><!-- post #2 -->

              <div class="crsl-item">
                <div class="thumbnail1">
                  <img src="img/catalog/book3.jpg" alt="watercolor paints">
                  <span class="postdate">Feb 23, 2014</span>
                </div>

                <h3><a href="#">Watercoloring for Beginners</a></h3>

                <p>Cras eget interdum nunc. Nam suscipit congue augue, id interdum risus adipiscing nec. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla non diam id nisi tempus sodales.</p>

                <p class="readmore"><a href="#">Read More &raquo;</a></p>
              </div><!-- post #3 -->

              <div class="crsl-item">
                <div class="thumbnail1">
                  <img src="img/catalog/book4.jpg" alt="apple ipod classic photo">
                  <span class="postdate">Mar 02, 2014</span>
                </div>

                <h3><a href="#">Classic iPods are Back!</a></h3>

                <p>Phasellus condimentum enim nisl, volutpat dapibus turpis euismod nec. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec id elit lorem. Vivamus at eros elit. Nullam cursus euismod purus.</p>

                <p class="readmore"><a href="#">Read More &raquo;</a></p>
              </div><!-- post #4 -->

              <div class="crsl-item">
                <div class="thumbnail1">
                  <img src="img/catalog/book5.jpeg" alt="web design magazines">
                  <span class="postdate">Mar 11, 2014</span>
                </div>

                <h3><a href="#">The 10 Best Web Design Magazines</a></h3>

                <p>Morbi quis tempus leo, eget vestibulum quam. Pellentesque ac orci urna. Proin vitae neque vel metus pulvinar luctus vitae eu nulla.</p>

                <p class="readmore"><a href="#">Read More &raquo;</a></p>
              </div><!-- post #5 -->
            </div><!-- @end .crsl-wrap -->
          </div><!-- @end .crsl-items -->
          <nav class="slidernav">
            <div id="navbtns" class="clearfix1">
              <a href="#" class="previous">prev</a>
              <a href="#" class="next">next</a>
            </div>
          </nav>
        </div><!-- @end #w -->


</div>

</br>

        <div class="contain">
            <h1>О библиотеке</h1>

            <p>Мы рады приветствовать вас на сайте нашей библиотеки.</p>

            <p></p>

            <p>На данный момент мы представляем собой крупную компанию, владеющую интернет&ndash;магазином и имеющую в своей сети единый call-центр, который регулирует всю деятельность магазина, отдел продаж, службу доставки, широкий штат квалифицированных сборщиков, собственный склад c постоянным наличием необходимого запаса товаров.</p>

            <p>За это время у нас сложились партнерские отношения с ведущими производителями, позволяющие предлагать высококачественную продукцию по конкурентоспособным ценам.</p>

            <p>Мы можем гордиться тем, что у нас один из самых широких ассортиментов одежды в городе и области. </p>

            <h2>Наши возможности</h2>
            <div class="row">
                <div class="col-xs-4">
                    <ul class="bxe-list bxe-lis-blue">
                        <li><span>Быстрая доставка</span></li>
                        <li><span>Низкие цены</span></li>
                        <li><span>Широкий ассортимент</span></li>
                        <li><span>Бонусы и подарки</span></li>
                    </ul>
                </div>
                <div class="col-xs-4">
                    <ul class="bxe-list bxe-lis-blue">
                        <li><span>Отличное обслуживаение</span></li>
                        <li><span>Профессиональный менеджеры</span></li>
                        <li><span>Гарантия на все товары</span></li>
                        <li><span>Надежные поставщики</span></li>
                    </ul>
                </div>
                <div class="col-xs-4">
                    <ul class="bxe-list bxe-lis-blue">
                        <li><span>Сезонные скидки</span></li>
                        <li><span>Программа лояльности</span></li>
                        <li><span>Карты постоянных клиентов</span></li>
                    </ul>
                </div>
            </div>
            <br/>
            <p>Мы всегда рады общению с нашими клиентами. Если у вас есть какие-либо пожелания, предложения, замечания, касающиеся работы нашего Интернет-магазина - пишите нам, и мы с благодарностью примем ваше мнение во внимание:</p>


        </div>

        <div class="sticky-push"></div>
	</div>
    <footer>
        <div class="sticky-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <address>
                            Тел. (8485) 53-21-24; 35-23-67
                            <a href="mailto:">books@mail.ru</a> <br>
                            Ярославль,  ул.Некрасова, 41А<br>
                        </address>
                    </div>

                    <div class="col-md-4 col-md-push-4">
                        <div class="copyright">
                          Разработка сайта <img  src="img/logo_white.png">
                        </div>
                    </div>

                    <div class="col-md-4 col-md-pull-4 hidden-print">
                        <ul class="list-inline social-links">
                            <li><a href="https://vk.com/intervolga"><i class="fa fa-vk"></i></a></li>
                            <li><a href="https://www.facebook.com/intervolga34"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/intervolga_ru"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="mailto:info@intervolga.ru"><i class="fa fa-envelope"></i></a></li>
                            <li><a href="https://www.youtube.com/user/wwwintervolgaru"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="https://instagram.com/intervolga_ru/"><i class="fa fa-instagram"></i></a></li>
                            <li><div id="bx-composite-banner"></div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
    <!--ОБЯЗАТЕЛЬНО ПОДКЛЮЧИТЕ ЭТИ СКРИПТЫ И СТИЛИ-->


    <!--/ОБЯЗАТЕЛЬНО ПОДКЛЮЧИТЕ ЭТИ СКРИПТЫ И СТИЛИ-->

    <!--Слайдер -->

    <script  src="js/vendor/jquery-1.11.0.min.js"></script>
    <script  src="js/vendor/responsiveCarousel.min.js"></script>

    <script type="text/javascript">
    $(function(){
      $('.crsl-items').carousel({
        visible: 3,
        itemMinWidth: 180,
        itemEqualHeight: 370,
        itemMargin: 9,
      });

      $("a[href=#]").on('click', function(e) {
        e.preventDefault();
      });
    });
    </script>

    <!--/ОБЯЗАТЕЛЬНО ПОДКЛЮЧИТЕ ЭТИ СКРИПТЫ И СТИЛИ-->



</html>
